tornado
python-instagram
google-api-python-client
tornado
rethinkdb
requests
requests_oauthlib
ujson
spotipy
praw
python-Levenshtein
python-dateutil
oauth2
bcrypt
git+https://github.com/QuantifiedSelfless/cryptohelper.git
git+https://github.com/dianakhuang/pytumblr.git@diana/python-3-support
six
