python-instagram
google-api-python-client
facebook-sdk
tornado
python-linkedin
TwitterAPI
git+https://github.com/dianakhuang/pytumblr.git@diana/python-3-support
rethinkdb
requests
ujson
spotipy
praw
chatterbot
python-Levenshtein
python-dateutil
