:root {
    --container-width: 100%;
}

.social {
  background-color: white;
  width: 800px
}

#nav {
    font-family: 'Arvo', sans-serif;
    background-color: #37483e;
    font-size: 20px;
    color: white;
}

#nav a:hover {
    color: gray;
}

#lander {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 34px;
    height: 80%;
    color: white;
}

#lander h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}

#lander .title {
    color: #88aeae;
}

#lander .learn .btn-outline {
    border-color: #d2bb5d;
    color: #d2bb5d;
    font-family: 'Arvo', sans-serif;
}

#lander .flex p {
    border-width: 3px;
}


#block1 {
    background-color: #37483e;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
}

#block2 {
    background-color: #312f2f;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

#block3 {
    background-color: #37483e;
    font-size: 26px;
    color: white;
}

#block3 h2 {
    font-family: 'Arvo', sans-serif;
}

#block3 .btn {
    font-family: 'Arvo', sans-serif;
    border-color: #d2bb5d;
    color: #d2bb5d;
}

#sponsors {

    color: white;
    background-color: #312f2f;
}

#sponsors h1 {
    font-family: 'Arvo', sans-serif;
}

#policy {
    background-color: #312f2f;
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    height: 80%;
    color: white;
}

#lander h1 {
    font-family: 'Arvo', sans-serif;
    font-size: 28px;
}

#lander h2 {
    font-family: 'Arvo', sans-serif;
    font-size: 24px;
}

#about-land {
    background-color: #312f2f;
    font-family: 'Quicksand', sans-serif;
}

#overview {
    background-color: #312f2f;
    font-family: 'Quicksand', sans-serif;   
}

#overview .border-bottom {
    border-color: white;
}

#team {
    background-color: #37483e;
    font-family: 'Quicksand', sans-serif;   
}

#team .border-bottom {
    border-color: white;
}
