:root {
    --container-width: 100%;
}


#nav {
    font-family: 'Arvo', sans-serif;
    background-color: #37483e;
    font-size: 20px;
    color: white;
}

#nav a:hover {
    color: gray;
}

#lander {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 34px;
    height: 80%;
    color: white;
}

#lander h1 {
    font-family: 'Arvo', sans-serif;
    font-size: 40px;
}

#lander .title {
    color: #88aeae;
}

#lander .learn .btn-outline {
    border-color: #d2bb5d;
    color: #d2bb5d;
    font-family: 'Arvo', sans-serif;
}

#lander .flex p {
    border-width: 3px;
}


#block1 {
    background-color: #37483e;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
}

#block2 {
    background-color: #333030;
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

#block3 {
    background-color: #37483e;
    font-size: 26px;
    color: white;
}

#block3 h2 {
    font-family: 'Arvo', sans-serif;
}

#block3 .btn {
    font-family: 'Arvo', sans-serif;
    border-color: #d2bb5d;
    color: #d2bb5d;
}

#sponsors {

    color: white;
    background-color: #333030;
}

#sponsors h1 {
    font-family: 'Arvo', sans-serif;
}

#policy {
    background-color: #333030;
    font-family: 'Arvo', sans-serif;
    font-size: 20px;
    height: 80%;
    color: white;
}

#policy h1 {
    font-family: 'Arvo', sans-serif;
    font-size: 28px;
}

#policy h2 {
    font-family: 'Arvo', sans-serif;
    font-size: 24px;
}

#about-land {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
}

#about-land a {
    border-color: white;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: white;
}

#about-land a:hover {
    color: gray;
}

#about-land h1, h2 {
    font-family: 'Arvo', sans-serif;
}

#overview {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;   
}

#overview .border-bottom {
    border-color: white;
}

#team {
    background-color: #37483e;
    font-family: 'Quicksand', sans-serif;   
}

#team .border-bottom {
    border-color: white;
}

#faq {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;  
}

#faq h3 {
    font-family: 'Quicksand', sans-serif;
}

#faq .border-bottom {
    border-color: white;
}

#faq p {
    margin-left: 15px;
}

#start {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#start h1 {
    font-family: 'Quicksand', sans-serif;
}

#privacy {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#privacy h2 {
    font-family: 'Quicksand', sans-serif;
}

#privacy .btn-outline {
    border-color: #d2bb5d;
    color: #d2bb5d;
    font-family: 'Quicksand', sans-serif;
}

#info {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#info h2 {
    font-family: 'Quicksand', sans-serif;
}

#info li {
    text-align: left;
}

#info .btn-outline {
    border-color: #d2bb5d;
    color: #d2bb5d;
    font-family: 'Quicksand', sans-serif;
}

#auth {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}


.social .btn{
    color: #d2bb5d;
    border-color: #d2bb5d;
}

.done .btn-primary {
    background-color: #37483e;
}

#thankyou {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#thankyou h2 {
    font-family: 'Quicksand', sans-serif;
}

#news {
    background-color: #333030;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: white;
}

#news h1 {
    font-family: 'Arvo', sans-serif;
}

.news-stub {
    border-bottom: 3px dashed #37483e;
    padding-top: 1em;
    padding-bottom: 1em;
}

.news-stub h2 {
    font-family: 'Quicksand', sans-serif;
}

.news-stub p {
    margin-left: 1em;
}

.news-stub a {
    text-decoration: none;
}

.date {
    font-size: 14px;
}