<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="/static/images/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Quantified Self</title>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Quantified Self Art and Theater Show"/>
    <meta property="og:description" content="Information and sign-up page for Quantified Self Theater Show"/>
    <meta property="og:url" content="https://iamadatapoint.com"/>
    <meta property="og:site_name" content="Quantified Self"/>
    <!-- <meta property="og:image" content="/blah/image placeholder"> -->
    <!--- CSS -->
    <link rel="stylesheet" href="/static/css/basscss.min.css">
    <link rel="stylesheet" href="/static/css/qs.css">
    
</head>
<body class="bg-black">
    <div id="nav"></div>
    <div class="container" id="policy"></div>
    <div id="footer"></div>
    

    
    <!--- JS -->
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.1/jquery.fullPage.min.js"></script>
    <!-- build:js -->
    <script src="/static/js/policybuild.js"></script>
    <!-- endbuild -->
</body>
</html>

