<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <title>Inner Data</title>
    <!--- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.1/jquery.fullPage.css" />
    <link rel="stylesheet" href="/static/css/zocial.css">
    <link rel="stylesheet" href="/static/css/basscss.min.css">
    <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
    
    <!--- JS -->
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.1/jquery.fullPage.min.js"></script>
    <script src="/static/js/p5.min.js"></script>
</head>
<body>
    <div id="test"></div>
    <script src="/static/js/signup.js></script>
    <div class="section">
        <div class="slide" id="s1"></div>
    </div>
</body>
</html>

