<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <title>Inner Data</title>
    <!--- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.1/jquery.fullPage.css" />
    <link rel="stylesheet" href="/static/css/zocial.css">
    <link rel="stylesheet" href="/static/css/basscss.min.css">
    <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>

    <!--- JS -->
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.1/jquery.fullPage.min.js"></script>
    <script src="/static/js/p5.min.js"></script>
    <style>
        #sign-head {
            position: fixed;
            top: 0px;
            width: 100%;
            z-index: 9;
        }

        #sign-foot {
            bottom: 0px;
            position: fixed;
            width: 100%;
            z-index: 9;
        }
    </style>
</head>
<body>
    <!-- Facebook SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '709107859190815',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- <div id="test"></div> -->
    <div id="sign-head"></div>
    <div id="sign-foot"></div>
    <div id="fullpage">
      <div class="section bg-black">
        <div class="slide" id="user"></div>
        <div class="slide" id="google"></div>
        <div class="slide" id="facebook"></div>
        <div class="slide" id="spotify"></div>
        <div class="slide" id="twitter"></div>
        <div class="slide" id="reddit"></div>
        <div class="slide" id="tumblr"></div>
        <div class="slide" id="instagram"></div>
      </div>
    </div>
    <script src="/static/js/signupbuild.min.js"></script>
</body>
</html>
